 *{
    max-height: 160VH;
 }

 body{
    margin: 0px;
    padding: 0px;  
  
 }
.header {
    position: relative;
    height: 140VH;
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.section_1 {
    position: relative;
    background-image: url("../img/test.jpg");
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.section_3 {
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.section_3_partion_1 {
    position: relative;
 
}

.section_3_partion_2 {
    position: relative;
    background:  linear-gradient(#006c1f1d 0%,  #00841d 45%);

 
}
.partition_1_head {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h2,
p{
color: #fff;
font-family: sans-serif;
}

.welcome_message {
    font-size: 10rem;
    color: transparent;
    transform: translate(5%, -25%);
    font-family: sans-serif;
    -webkit-text-stroke: 2px #fff;
    cursor: pointer;
    transition: all .4s ease;
    display: inline-block;
}

.welcome_message:hover {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke: 0;
} 

.section_3_partion_2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carts_container {
    transform: translateY(-150px);
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    display: flex;
    justify-content: center;

}

.cart {
    height: 310px;
    border: 1px solid #fff;
    display: grid;
    grid-template-rows: 4fr 1fr;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s ease;
    border: 1px solid lightgray;
}

.cart_image {
    border-radius: 10px;
    background-position: center;
    width: 360px;
    height: 300px;
    background-repeat: no-repeat;
}

.cart_image_1 {
    background-image: url("../img/abelia.jpg");
}

.cart_image_2 {
    background-image: url("../img/thuya.jpg");
}

.cart_image_3 {
    background-image: url("../img/troene.jpg");
}

.cart_image_4 {
    background-image: url("../img/laurier.jpg");
}

.cart:hover {
    transform: translateY(-10px);
}

h4 {
    color: #ffffff;

}

.tilte {
    display: none;
    text-shadow:0 0 15px #fff;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.cart_image:hover .tilte {
    display: block;
}

.description {
    display: none;
}

.cart_image:hover .description {
    display: block;
    transform: translate(3px, 110px);
    color: white;
    font-weight: bold;

}
.cart_image:hover {
    filter: brightness(0.8);
}