{% extends 'base.html.twig' %}

{% block tilte %}New Haie{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{asset("css/style.css")}}">
<div class="card-wrapper">
<div class="cardo">
<h1>Ajouter une nouvelle Haie</h1>
<br>

{{ include('haie/_form.html.twig') }}
<br>

<a href="{{ path('app_haie_index') }}">
 <div class="icon">
			<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
			<lord-icon src="https://cdn.lordicon.com/qhaguvvs.json" trigger="hover" style="width:50px;height:50px"></lord-icon>
	    </div>
        </a>

</div>
</div>
{% endblock %}
